/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter-family);
  background-color: var(--color-bg);
  color: var(--color-accent);
  background-image: var(--bg-image);
  background-size: cover;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Раскоментировать когда закончу проект */

/* @media (prefers-color-scheme: dark) {
  .page {
    background-color: #000;
    color: #00CC14;
  }
} */

@supports (font-variation-settings: normal) {
  .page {
    font-family: "Inter", sans-serif;
  }
} 


.header {
  inline-size: clamp(23.188rem, 16.035rem + 30.52vw, 43.5rem);
  margin: 0 auto;
  margin-block-start: 102px;
  border: 2px solid var(--color-accent);
  background: var(--color-bg);
}
 
.header__theme-menu {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 135px;
}
.theme-menu__heading {
  color: var(--color-accent);
  font-family: var(--font-PressStart2P);;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  padding-block-end: 20px;
  text-decoration: none;
}

.theme-menu__text {
  color: var(--color-accent);
  font-family: var(--font-PressStart2P);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding-block-end: 20px;

}

.theme-menu__list {
  padding-block-end: 13px;
}

.theme-menu__item {
  padding-block-end: 7px;
}

.theme-menu__item button {
  background-color: transparent;
  border: 1px solid transparent;
}

.theme-menu__button {
  color: var(--color-accent);
  font-family: var(--font-PressStart2P);;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;

}







.theme-menu__button{
  position: relative;
  padding: 0 1px;
}

.theme-menu__button::after {
  display: block;
	position: absolute;
	width: 0;
	content: "";
  border-bottom: 1px solid var(--color-accent);
  transform: scale(0);
  transition: transform 0.3s
}

.theme-menu__list {
  position: relative;
}


.card {
  inline-size: clamp(23.188rem, 16.035rem + 30.52vw, 43.5rem);
  margin: 100px auto 51px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-bg);
}
.card__heading {
  color: var(--color-accent);
font-family: var(--font-inter);
font-size: 18px;
font-weight: 700;
padding: 5px 3px 5px 9px;
}






.card__img {
  position: relative;
}

.card__img_bg {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__img_text {
  position: absolute;
  top: 26px;
  right: 22px;
  color: var(--color-accent);
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--color-bg);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--color-bg)) {
  .card__img_text {
    text-shadow: 0px 0px 1px var(--color-bg);
  }
}


.card__text {
  padding: 31px 25px 25px;
}

.card__text p {
  color: var(--color-accent);
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
}

.card__text p:last-child {
  padding-block-start: 27px;
  margin-block-end: 7px;
}

.card__like {
  height: 38px;
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  flex-shrink: 0;
  margin-block-end: 25px;
  margin-inline-end: 22px;
}

.card__like button {
  background: var(--color-bg);
  color: var(--color-accent);
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.26;
  border: none;
}

.button__text  {
  display: block;
  border: 2px solid var(--color-bg);
  padding-block: 9px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--color-bg);
  mix-blend-mode: difference;

}

.button__text:has(:hover) {
  background-color: #fff;
}



@media (width < 400px) {
  .header {
    inline-size: 100%;
 }

 .page {
   min-inline-size: 100%;
 }
}

.floppy {
  inline-size: 340px;
  block-size: 53px;
  position: relative;
  /* inline-size: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem); */
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: auto;
  padding: 0;
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent);
  margin-block-end: 100px;
  overflow: hidden;
  cursor: pointer;

}

.floppy__icon {
  inline-size: 21px;
  position: relative;
  z-index: 2;
  color: var(--color-bg);
  mix-blend-mode: difference;
}

@media (width < 375px) {
  .floppy__icon {
    inline-size: 28px;
  }
}

.floppy__text {
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.26;
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--color-bg);
  mix-blend-mode: difference;
  padding-block-start: 5px;
}



/* Cостояния кнопок */

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__item:has(:disabled) {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__item:has(:disabled) {
  opacity: 0.6;
}



.theme-menu__button:focus-visible::after {
  width: 100%; 
  transform: scale(1, 1);
  transform-origin: left;
  opacity: 0.6;
}

.card__like-text {
  position: relative;
  width: 132px;
  border-style: none;
  padding: 0;
  overflow: auto;
  cursor: pointer;
}



.floppy:focus,
.card__icon-button:focus,
.card__like-text:focus {
  outline: none;
}

.floppy:focus-visible {
  border: 2px solid var(--color-accent);
  box-shadow: 2px 2px 0px 0px var(--color-accent);
  transition: .3s ease;
}

.card__icon-button:focus-visible {
  border-style: none;
  outline: 2px solid var(--color-accent);
  transition: .3s ease;
  outline-offset: -3px;
}


.card__like-text:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-accent);
  transition: .3s ease;
  padding: 0;
  outline-offset: 2px;

}

.floppy::before {
  content: "";
  position: absolute;
  background-color: var(--color-accent);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.floppy:hover::before {
  width: 100%;
  height: 100%;
  display: block;
  transform: translateX(0);
  transform-origin: left;
}

.card__like-text::before {
  width: 0;
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--color-accent);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;

}

.card__like-text:hover::before {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  transform: translateX(0);
  transform-origin: left;
}

/* анимации */

.theme-menu__item:has(.theme-menu__button:disabled)::before  {
  content: "▶";
  margin-inline-end: 4px;
  vertical-align: middle;
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out reverse infinite;
}

/* анимация сердца */

.sparks {
  opacity: 0;
}

.card__icon-button {
  cursor: pointer;
}

.like-icon .core{
 transform: ease 0.3s;
}

.like-icon:hover .core{
  fill: var(--color-accent);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon .main-body{
  transition: fill 0.03s;
}

.like-icon:hover .main-body{
  fill: var(--color-accent);
  transition: fill 0.3s;
}